/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("https://i.stack.imgur.com/RLQNm.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #3e4449;
}