<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <app-navbarcomponent></app-navbarcomponent>
  <div class="o_nama">
    <p id="info"></p>
  </div>
<div class="router_links">
    <h2>Osnovni zahtevi</h2>
    <button type="button" class="btn btn-primary" [routerLink]="['/soba']">Forma sobe</button>
    <button type="button" class="btn btn-primary" [routerLink]="['/simpleHttp']">Http Zahtevi</button>
</div>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

</body>

</html>